@charset "utf-8";
$color1: #ff3333;
$color2: #555555;
$color3: #242f9b;
$color4: #ffffff;

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: $color2;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: $color1;
  border: solid 1px $color1;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: $color3;
  color: $color4;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $color1;
}
