@charset "utf-8";
$cr1: #555555;
$cr2: #242f9b;
$cr3: #ffffff;
$cr4: #ff3333;

.signup {
  width: 500px;
  margin: 0 auto;
}

.signup-form {
  margin: 25px 0;
  color: $cr1;
}

.email-input,
.name-input,
.password-input {
  width: 100%;
  font-size: large;
  height: 30px;
  margin-bottom: 25px;
}

.signup-button {
  background-color: $cr2;
  color: $cr3;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $cr4;
}
